db/*
Manifest.toml
*connection.yml
test/pg/db_2/migrations/
todo.txt

# --- Documentação (Gerada Automaticamente) ---

docs/build/*
docs/site/

# --- Arquivos de Sistema e Editor ---

.DS_Store
.vscode/
*~
*.swp

# --- Padrão Julia (Artefatos de Cobertura e Memória) ---

*.jl.cov
.jl..cov
*.jl.mem


test/integration/db_sl/migrations/*
test/integration/db_sl/f1.sqlite